
/* base style */

/*-- TITLE --*/
d-title h1,
.posts-list > h1 {
  color: var(--title-color);
}

d-title h1 {
  font-size: var(--title-size);
}

/*-- HEADERS --*/
d-article h1,
d-article h2,
d-article h3,
d-article h4,
d-article h5,
d-article h6 {
  color: var(--header-color);
}


/*-- BODY --*/
/* only text inside of <p> tags */
d-article > p {
  color: var(--body-color);
  font-size: var(--body-size);
}

/*-- CODE --*/
d-article div.sourceCode code,
d-article pre code {
	font-size: var(--code-size);
}

/*-- METADATA --*/
d-byline h3 {
	font-size: var(--byline-h3-size);
	color: var(--byline-h3-color);
}

d-byline {
	font-size: var(--byline-size);
	color: var(--byline-color);
}

d-byline a,
d-article d-byline a {
	color: var(--byline-color);
}

/*-- TABLE OF CONTENTS --*/
.d-contents nav h3 {
	font-size: var(--toc-h3-size);
	color: var(--toc-h3-color);
}

.d-contents nav a {
	font-size: var(--toc-size);
}

/*-- APPENDIX --*/
d-appendix h3 {
  font-size: var(--appx-h3-size);
	color: var(--appx-h3-color);
}

d-appendix {
  font-size: var(--appx-size);
	color: var(--appx-color);
}

d-footnote-list a.footnote-backlink {
	color: var(--appx-color);
}

/*-- ASIDE --*/
d-article aside {
	font-size: var(--aside-size);
	color: var(--aside-color);
}

/*-- FIGURE CAPTIONS --*/
figure .caption,
figure figcaption {
	font-size: var(--fig-cap-size);
	color: var(--fig-cap-color);
}

/*-- WEBSITE HEADER + FOOTER --*/
.distill-site-header .title {
	font-size: var(--head-title-size);
}

.distill-site-header {
	font-size: var(--head-text-size);
	color: var(--head-text-color);
	background-color: var(--head-bkgd-color);
}

.distill-site-header a:hover {
	color: var(--head-hover-color);
}

.distill-site-footer {
	font-size: var(--foot-text-size);
	color: var(--foot-text-color);
	background-color: var(--foot-bkgd-color);
}

.distill-site-footer a:hover {
	color: var(--foot-hover-color);
}
